/* GENERAL */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap');
/* font-family: 'Rubik Glitch Pop', system-ui; 
   font-family: 'Poppins', sans-serif; 

*/

/* colors */
:root{
    --color-violet-blue: #314CB6;
    --color-madder: #A31621;
    --color-periwinkle: #B7B5E4;
    --color-cream: #F3FFBD;
    --color-red-violet: #B91372;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gunmetal: #162521;
}

h1{
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}


h2,h3,h4,h5{
    color: var(--color-gunmetal);
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}

p,input,textarea{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}

.navbar-brand{
    font-family: 'Rubik Glitch Pop', system-ui; 
    font-size: 30px;
}

.btn{
    padding: 14px 35px;
    font-weight: bold;
    animation: bounce 1s ease-in infinite;
    border-radius: 70px 30px 70px 30px;
} 

table{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}

.nav-link{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 15px;
}





/* main style index.html */
main .hero{
    margin-top: 150px;
}


/* connexion style */
main .connexion{
    margin-top: 130px;
}

/* inscription style */
main .inscription{
    margin-top: 70px;
}


