








/* main style index.html */
main .hero{
    margin-top: 150px;
}


/* connexion style */
main .connexion{
    margin-top: 130px;
}

/* inscription style */
main .inscription{
    margin-top: 70px;
}
